@font-face {
  font-family: Ubuntu;
  src: url(./FONTs/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(./FONTs/Ubuntu-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/pbg1.png);
    background-repeat: repeat-x;
    font-family: Ubuntu;
}

.wapper {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.social {
    text-align: right;
    background-color: #fff;
    padding: 0 0.7em;
}

.social a {
    font-size: 0.7rem;
    color: #333;
    padding-left: 0.7em;
    text-decoration: none;
    text-transform: capitalize;
}

.social a:hover {
    text-decoration: underline;
}

header {
    padding: 22px;
    cursor: pointer;
    color: #fff;
    background-color: #E95420;
}

header h3 {
    float: right;
}

header nav {
    display: flex;
    column-gap: 0.7rem;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

nav a:hover{
    color: #F7C3B1;
}

.heading {
    margin: 1.3rem;
}

.heading h2 {
    font-family: Ubuntu-Light;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #3c3836;
}

.heading p {
    font-family: Ubuntu;
    text-transform: none;
    color: #3c3836;
}
.main p {
    color: #282828;
    font-family: Ubuntu;
    font-size: 0.8rem;
    text-align: justify;
    margin: 1.3rem;
}

footer {
    font-family: Ubuntu;
    color: #fff;
    padding: 0.9em;
    margin: 0 15% 25px;
    background-color: #E95420;
}

footer p {
    font-size: 12px;
    text-align: center;
}

